* {
	box-sizing: border-box;
	}


body, html {
	height: 100%;
	padding: 0px;
	margin: 0px;
}

section#bottom-contact {
	background: rgba(0,0,0, .8) url('images/exterior-painting-kyle-texas-78640.jpg');
	background-blend-mode: darken;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	padding: 40px 10px 10px 10px;
}
.bottom-contact-img {
	filter: brightness(50%);
}

.col-md-50p {
	width:50%;
}
.col-100p {
	width:100%;
}
.banner {
	background: url('images/Residential-Painting-Buda-Texas-78610.jpg') #212121;
	background-size:cover;
	background-repeat: no-repeat;
	background-position: 10%;
	padding-top:200px;
	padding-bottom:100px;
}

.form-div {
	padding: 5px;
	background: #fff;
	opacity: .92;
	border-radius: 0.0rem !important;
	margin-top: auto;
}
.form-div-bottom {
	padding: 5px;
	border-radius: 0.0rem !important;
	margin-top: auto;
}

.form-control {
	border-radius: 0.2rem;
	border: solid 1px #CCC;
	padding:6px;
	font-size:1.1rem;
	background-color: #d9d9d9;
	color:black;
}
.input-contact-bottom {
	border-radius: 0.2rem;
	border: solid 1px #CCC;
	padding:6px;
	font-size:1.1rem;
	background-color: #FEFFEC;
}
textarea {
	border-radius: 0.2rem;
	padding:6px;
	opacity: 1;

}
.bottom-form {
	margin:auto;
}
.button-banner {
	background: #F8FC69;
	color: #333;
	font-weight:bold;
	font-size: 1rem;
	padding:10px;
	border: solid 1px #CCC;
	border-radius: 0.2rem;
	margin-left:auto;
	cursor: pointer;
}
.button-bottom {
	background: #F8FC69;
	color: #333;
	font-weight:bold;
	font-size: 1rem;
	padding:10px;
	border: solid 0px black;
	border-radius: 0.2rem;
	margin-left:auto;
	cursor: pointer;

}
.button-banner:hover {
	background: yellow;
}
.button-bottom:hover {
	background: yellow;
}

.showcase-h {
	color:#00222b;
	width:100%;
	text-align:center;
}
.showcase-text {
	color:#00222b;
	padding:15px;
}
.showacase-text p {
	font-style: italic;
}
.showcase-img {
	min-height: 50rem;
	background-size:cover;
}
.service-row {
	border-bottom: 1px solid blue;
}
.services-img {
	width:50%;
	height:300px;
}
.services-text {
	width:50%;
	padding:15px;
	color:#00222b;
}

.no-gutters {
	margin-left: 0;
	margin-right: 0;
}
.container-fluid {
	width: 100%;
	margin-right: auto;
	margin-left: auto;
}

.shad {
	border-radius: 50px; background: rgba(255,255,255, 3); box-shadow: -30px 30px 40px rgba(0,0,0, .8);
}

.quotes {
	font-size:2rem;
	font-weight:700;
}
.row {
	display:flex;
	flex-direction:row;
	align-content: flex-start;
	flex-flow:row wrap;
}

.row-contact {
	display:flex;
	flex-direction:row;
	align-content: flex-start;
	flex-flow:row wrap;
}
.row-map {
	display:flex;
	flex-direction:row;
	justify-content: space-between;
	flex-flow:row wrap;
}
.contact-child {
	min-width:300px;
	padding: 10px 20 10 20;
	color: #fbffab;

}
 a {
color: white;
olor: #fbffab;
text-decoration:none;
}

@media screen and (max-width:600px) {

	.row-contact {
		display:flex;
		justify-items:center;
	}

	.col-md-50p {
		width:100%;
	}
	.services-text{
		width:100%;
		order:1;
	}
	.services-img {
		width:100%;
		order:2;
	}
	.banner {
		background: url('images/blue_siding_kyle-texas-78640.jpg') #292929;
		background-repeat: no-repeat;
		background-size: cover;
		background-position: ;
		padding: 90px 10px 40px 10px;

	}
}






